<h1>KarmaVille's Most Famous</h1>
<table class="table table-bordered table-striped">
  <tr>
    <th>Karma</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
    <%= render 'user_row', :user => user %>
  <% end %>
</table>
<ul class="pagination">
  <li class="disabled"><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
  <li class="disabled"><a href="#">2 </a></li>
  <li class="disabled"><a href="#">3 </a></li>
  <li class="disabled"><a href="#">4 </a></li>
  <li class="disabled"><a href="#">5 </a></li>
  <li class="disabled"><a href="#">&raquo;</a></li>
</ul>
